table {
	width: 100%;
	/*table-layout: fixed;*/
	/*max-height: 500px;*/
}
/*
table td {
	width: 180px;
}
*/
table input {
	width: 100%;
}

table * {
	box-sizing: border-box;
}

tbody tr:hover {
	background-color: #cea;
}

tr.selected {
    color: #FFFFFF;
    background-color: #ac6/*#729D34;*/
}